db.sqlite3

venv

.git
.vscode

**/migrations/**
!**/migrations
!**/migrations/__init__.py

__pycache__/
*/__pycache__/

.pytest_cache

media

celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat.pid

.env
settings.ini

redis

static

.github

celery.log
